In [46]:
import pandas as pd
import numpy as np
df=pd.read_csv("HR_comma_sep.csv")
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   sales                  14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [71]:
ds=df["satisfaction_level"]
ds

0        0.38
1        0.80
2        0.11
3        0.72
4        0.37
         ...
14994    0.40
14995    0.37
14996    0.37
14997    0.11
14998    0.37
Name: satisfaction_level, Length: 14999, dtype: float64

In [89]:
type(ds)

pandas.core.series.Series

In [53]:
ds.describe()

count    14999.000000
mean         0.612834
std          0.248631
min          0.090000
25%          0.440000
50%          0.640000
75%          0.820000
max          1.000000
Name: satisfaction_level, dtype: float64

In [54]:
ds.isnull().sum()

0

In [55]:
ds.mean()

0.6128335222348166

In [56]:
ds.median()

0.64

In [57]:
ds.mode()

0    0.1
Name: satisfaction_level, dtype: float64

In [58]:
ds.min()

0.09

In [59]:
ds.max()

1.0

In [60]:
ds.quantile([0.25,0.5,0.75])

0.25    0.44
0.50    0.64
0.75    0.82
Name: satisfaction_level, dtype: float64

In [61]:
ds.value_counts()

0.10    358
0.11    335
0.74    257
0.77    252
0.84    247
       ...
0.25     34
0.28     31
0.27     30
0.26     30
0.12     30
Name: satisfaction_level, Length: 92, dtype: int64

In [62]:
ds.describe()

count    14999.000000
mean         0.612834
std          0.248631
min          0.090000
25%          0.440000
50%          0.640000
75%          0.820000
max          1.000000
Name: satisfaction_level, dtype: float64

In [65]:
np.var(ds)

0.06181307922561601

In [66]:
np.std(ds)

0.24862236268207252

In [67]:
df["salary"].value_counts()

low       7316
medium    6446
high      1237
Name: salary, dtype: int64

In [68]:
df["sales"].value_counts()

sales          4140
technical      2720
support        2229
IT             1227
product_mng     902
marketing       858
RandD           787
accounting      767
hr              739
management      630
Name: sales, dtype: int64

In [70]:
dle=df["last_evaluation"]
dle

0        0.53
1        0.86
2        0.88
3        0.87
4        0.52
         ...
14994    0.57
14995    0.48
14996    0.53
14997    0.96
14998    0.52
Name: last_evaluation, Length: 14999, dtype: float64

In [72]:
print(dle.shape)

(14999,)

In [73]:
dle.describe()

count    14999.000000
mean         0.716102
std          0.171169
min          0.360000
25%          0.560000
50%          0.720000
75%          0.870000
max          1.000000
Name: last_evaluation, dtype: float64

In [74]:
dle.isnull().sum()

0

In [76]:
dle.mean()

0.7161017401159978

In [77]:
dle.median()

0.72

In [78]:
dle.mode()

0    0.55
Name: last_evaluation, dtype: float64

In [79]:
dle.min()

0.36

In [80]:
dle.max()

1.0

In [81]:
np.var(dle)

0.02929691104370864

In [82]:
np.std(dle)

0.1711634045107442

In [83]:
dle.value_counts()

0.55    358
0.50    353
0.54    350
0.51    345
0.57    333
       ...
0.39     52
0.43     50
0.38     50
0.44     44
0.36     22
Name: last_evaluation, Length: 65, dtype: int64